easydict==1.10
ipdb==0.13.13
matplotlib==3.5.2
numpy==1.22.4
opencv_contrib_python==4.8.0.76
opencv_python==4.6.0.66
pytorchvideo==0.1.5
PyYAML==6.0.1
PyYAML==6.0.1
scipy==1.8.1
torch==1.11.0
torchvision==0.12.0
